div{
  background-color: #5f939a;
}
body{
margin: 0;
text-align:center;

}
h3{
    margin: 0 auto 0 auto;
    font-family: cursive,sans-serif;
    font-size: 2em;
}
h1{

  font-family: 'Sacramento', cursive;
  margin-top:20px auto 0 auto;
  font-size: 4em;
}
h2{
  font-size: 2em;
  margin-top: 0;
  font-family: cursive, sans-serif;
}
p{
font-family: 'Architects Daughter', cursive;
font-size: 25px;
}
.business{
  text-decoration: underline;
}
.bottomcloud{
  padding-right: 500px;

}
.main{
  padding-top: 50px;
}
.topcloud{
  padding-left: 500px;
}
.middlecloud{
  padding-bottom: 500px;
  align-content: block;
}
.callouts{
align-content: block;
padding-bottom: 500px;
}
.da{
  background-color: #f3f4ed;
}
